doctype html
html
  head
    title= 'no-sockets-sublime-docs'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/codemirror.css')
  body
    #editorHook

    script
      | function voidFunction(){}
      | window.remoteInterface = {
      |   send_operation: function(changeObj){editor.makeRemoteChange(changeObj); },
      |   send_selection: voidFunction,
      | };
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js')
    script(src='/javascripts/codemirror.js')
    script(src='/javascripts/codemirror-setup.js')
