doctype html
html
  head
    title= 'chat-test'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    #main-container
      .message-area
        .chat-box
          input#message-input.form-control(placeholder="Type the message here")
      .chat-box.well.well-lg
        .jumbotron
          h1 Nothing to see here, move along
          p Please add a new message !

  script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
  script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js')
  script(type='text/javascript' src='javascripts/chat_view.js')
